server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:crud_db
    driver-class-name: org.h2.Driver
    username: sa
    password:
    initialization-mode: always

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true